<ul class="expand-menu-items">
  <li> <%= link_to 'Brands', pos_products_brands_path %></li>
  <li> <%= link_to 'Models', pos_products_models_path %></li>
  <li> <%= link_to 'Categories', pos_products_categories_path %></li>
  <li> <%= link_to 'Sub-Categories', pos_products_sub_categories_path %></li>
  <li> <%= link_to 'Products', pos_products_path %></li>
  <li> <%= link_to 'Customers', pos_customers_path %></li>
  <li> <%= link_to 'Customer Invoices', pos_customers_invoices_path %></li>
  <li> <%= link_to 'Customer Payments', pos_customers_payments_path %></li>
  <li> <%= link_to 'Suppliers', pos_suppliers_path %></li>
  <li> <%= link_to 'Purchase Orders', pos_suppliers_purchases_path %></li>
  <li> <%= link_to 'Supplier Payments', pos_suppliers_payments_path %></li>
</ul>