<tr class="order-item-row">
  <td>
    <%= ff.object.product.name %>
    <%= ff.hidden_field :product_id, value: ff.object.product_id %>
  </td>
  <td class="stock-quantity" style="text-align: center; vertical-align: middle;">
    <%= ff.object.product.stock_on_hand %>
  </td>
  <td style="text-align: center; vertical-align: middle;">
    <%= ff.object.issued_quantity %>
  </td>
    <td>
      <%= ff.text_field :received_quantity, class: "received_quantity", value: ff.object.issued_quantity %>
    </td>
  <td>
    <%= ff.text_field :amount, class: "unit-price" %>
  </td>
  <td class="cost-price" style="text-align: center; vertical-align: middle;" >
    <%= ff.object.product.cost_price %>
  </td>
  <td>
    <%= ff.text_field :sale_price, class: "sales-price" %>
  </td>
  <td>
    <%= ff.text_field :total, class: "total-item-price", readonly: "readonly" %>
  </td>
  <td style="text-align: center; vertical-align: middle;">
      <%= ff.check_box :_destroy, class: 'destroy-items', style: "width: inherit;" %>
      <%= ff.label :_destroy, "Remove" %>
  </td>
</tr>

<script type="text/javascript">
    $(document).off('change', '.purchase-product-item').on('change', '.purchase-product-item', function () {
        var reff = $(this);
        $.ajax({
            url: '/pos/products/' + $(this).val(),
            type: 'get',
            dataType: 'json',
            success: function (product) {
                element = targetElement(reff);
                setValue(element, '.quantity', '1');
                setHtmlValue(element, '.stock-quantity', product.stock);
                setValue(element, '.unit-price', product.cost_price);
                setHtmlValue(element, '.cost-price', product.cost_price);
                setValue(element, '.sales-price', product.sale_price);
                setValue(element, '.total-item-price', product.cost_price);
                updateTotal();
            }
        });
    });

    $(document).off('keyup', '.unit-price, .received_quantity').on('keyup', '.unit-price, .received_quantity', function () {
        element = targetElement($(this));
        price = getValue(element, '.unit-price');
        quantity = getValue(element, '.received_quantity');
        setValue(element, '.total-item-price', (price * quantity));
        updateTotal();
    });


    $(document).off('click', '.remove-product-form').on('click', '.remove-product-form', function () {
        $(this).parents('.order-item-row').remove();
        if ($(".purchase-order-products").find("tbody").find("tr").size() <= 0) {
            $('.no-data').html("<%= escape_javascript( render 'shared/no_data_found', message: 'No Product To Order').html_safe %>");
        }
        updateTotal();
        return false;
    });

    $(document).off('click', '.destroy-items').on('click', '.destroy-items', function () {
        tr_element = $(this).parents('.order-item-row');
        tr_element.hide();
        tr_element.find('.total-item-price').val('');
        updateTotal();
        return true;
    });

    function updateTotal() {
        var total = 0;
        $('.total-item-price').each(function () {
            var each_total_price = $(this).val() || 0;
            total += parseFloat(each_total_price);
        });
        $('#pos_suppliers_purchase_amount, #pos_suppliers_purchase_total').val(Number(total).toFixed(2));
    }

    function targetElement(element) {
        return element.parents('tr');
    }

    function setValue(element, selector, value) {
        element.find(selector).val(isInt(value) ? value : Number(value).toFixed(2));
    }

    function setHtmlValue(element, selector, value) {
        element.find(selector).html(value);
    }

    function getValue(element, selector, parse) {
        var value = element.find(selector).val();
        if (parse) {
            if (!value) {
                value = 0;
            }
            value = parseFloat(value);
        }
        return value;
    }

    function isInt(n) {
        return n % 1 === 0;
    }
</script>