<div class="row reset-padding">
  <div class="content-wrapper" id="rule-content">
    <div class="header-wrapper">
      <h4>
        Purchase Order List
      </h4>
    </div>
    <div class="content-body-wrapper secondary-color full-content-wrapper" id="provident-fund-rule-content">
      <% if @purchases.present? %>
        <div class="row actions-button">
          <div class="add-more-rule clearfix">
            <%= link_to new_pos_suppliers_purchase_path, class: 'btn btn-default pull-right' do %>
              <i class="fa fa-plus-circle"></i> New Purchase Order
            <% end %>
          </div>
        </div>
        <div class="row content-body">
          <table class="table action-table beaccount-table tablesorter table-responsive table-hover table-striped">
            <thead>
            <tr>
              <th>Order ID</th>
              <th>Location</th>
              <th>Supplier</th>
              <th>Products</th>
              <th>Amount</th>
              <th>Status</th>
              <th></th>
            </tr>
            </thead>
            <tbody>
            <% @purchases.each do |purchase| %>
              <tr>
                <td> #<%= purchase.id %> </td>
                <td><%= purchase.department.name %> </td>
                <td><%= purchase.supplier.name if purchase.supplier.present? %> </td>
                <td><%= purchase.items.sum(:issued_quantity) %> </td>
                <td><%= purchase.total %> </td>
                <td>
                  <%= received_status(purchase) %>
                </td>
                <td class="actions">
                  <%= link_to pos_suppliers_purchase_path(purchase), class: 'btn info-color' do %>
                    <i class="fa fa-eye"></i>
                  <% end %>
                  <% unless purchase.is_received %>
                    <%= link_to edit_pos_suppliers_purchase_path(purchase), class: 'btn warning-color' do %>
                      <i class="fa fa-pencil-square-o"></i>
                    <% end %>
                  <% end %>
                  <%= link_to pos_suppliers_purchase_path(purchase), class: 'btn danger-color', method: :delete, data: {confirm: 'Are you sure?'} do %>
                    <i class="fa fa-times"></i>
                  <% end %>
                </td>
              </tr>
            <% end %>
            </tbody>
          </table>
        </div>
      <% else %>
        <div class="text-center table-cell">
          <p>
            Current department don't have any Purchase Order. <%#= link_to 'Learn more', '#', class: 'link' %>
            <!--<i class="fa fa-info-circle btn btn-info reset-border-radius" data-toggle='popover' data-placement='top' title="Provident Fund Account" data-content="Click on the create new one button to create provident fund account then it will show the account  list  "></i>-->
          </p>
          <%= link_to new_pos_suppliers_purchase_path, class: 'btn btn-default reset-border-radius' do %>
            <i class="fa fa-plus-circle"></i> Add new one
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
