<li class="top-menu-dropdown">
  <a href="#">
    Product <span class="caret"></span>
  </a>
  <ul class="top-menu-dropdown-content dropdown-large">
    <li>
      <%= link_to 'Products', pos_products_path %>
    </li>
    <li>
      <%= link_to 'Brands', pos_products_brands_path %>
    </li>
    <li>
      <%= link_to 'Models', pos_products_models_path %>
    </li>
    <li>
      <%= link_to 'Categories', pos_products_categories_path %>
    </li>
    <li>
      <%= link_to 'Sub Categories', pos_products_sub_categories_path %>
    </li>
    <li>
      <%= link_to 'Print Barcodes', pos_products_queue_codes_path %>
    </li>
  </ul>
</li>