<ul class="expand-menu-items">
  <li> <%= link_to 'Dashboard', expense_dashboard_path %></li>
  <li> <%= link_to 'Categories', expenses_categories_path %></li>
  <li> <%= link_to 'Expenses', expenses_expenses_path %></li>
  <li> <%= link_to 'Report (Monthly)', monthly_report_expenses_expenses_path %></li>
  <li> <%= link_to 'Report (Yearly)', report_expenses_expenses_path %></li>
  <li> <%= link_to 'Category Wise Report', category_wise_report_expenses_expenses_path %></li>
</ul>