<ul class="expand-menu-items">
  <li> <%= link_to 'Dashboard', payroll_dashboard_path %></li>
  <li> <%= link_to 'Categories', payroll_categories_path %></li>
  <li> <%= link_to 'Increments', payroll_increments_path %></li>
  <li> <%= link_to 'Department Salary ', payroll_salaries_path %></li>
  <li> <%= link_to 'Company Salary', combined_salary_report_payroll_salaries_path %></li>
  <li> <%= link_to 'Bonus Category', payroll_bonus_categories_path %></li>
  <li> <%= link_to 'Bonus Payments', payroll_bonus_payments_path %></li>
</ul>