<%= render 'shared/modal_header', modal_title: 'Add Item Into Queue' %>
<%= form_for(@queue_code, remote: true) do |f| %>
  <div class="modal-body">
    <div class="form-group">
      <%= label_tag 'Product: ' %> <%= @product.name %>
      <%= f.hidden_field :product_id, value: @product.id %>
      <% if params[:barcode].present? %>
        <%= f.hidden_field :barcode, value: params[:barcode] %>
      <% end %>
    </div>
    <div class="form-group">
      <%= f.label :quantity %>
      <%= f.text_field :quantity, class: 'form-control reset-border-radius', data: {required: true} %>
    </div>
  </div>

  <div class="modal-footer">
    <div class="pull-right">
      <%= f.submit 'Add Into Queue', class: 'btn btn-primary' %>
      <div class="btn btn-default" data-dismiss='modal'>Cancel</div>
    </div>
  </div>
<% end %>

<script type="text/javascript">
    $(function () {
        $('#new_pos_products_queue_code').syftValidator();
    });
</script>