<div class="panelx table-warapper ">
  <div class="table-warapper-body">
    <table class="table tablesorter beaccount-table table-responsive table-hover table-striped attendance-history-modal">
      <thead>
      <tr>
        <th>Date</th>
        <th>In</th>
        <th>Out</th>
        <th>Duration</th>
      </tr>
      </thead>
      <tbody id="staff-attendance">
      <% @attendances.each do |attendance| %>
          <tr id="attendance-<%= attendance.id %>">
            <td><%= format_date(attendance.in_date) %></td>
            <td><%= get_time_from_datetime(attendance.in_time) %></td>
            <td><%= get_time_from_datetime(attendance.out_time) %></td>
            <td><%= format_duration(attendance.duration.to_f) %></td>
          </tr>
      <% end %>
      </tbody>
    </table>
    <div id="modal-pager">
      <%= render 'shared/pagination' if @attendances.size > 10 %>
    </div>
    <div class="no-data-found">
      <% unless @attendances.present? %>
          <%= render 'shared/no_data_found', message: 'No attendance found' %>
      <% end %>
    </div>
  </div>
</div>
<script type="text/javascript">
    $(function () {
        if (<%= @attendances.present? %>) {
            if ($(".attendance-history-modal").find("tbody").find("tr").size() > 0) {
                $(".attendance-history-modal").tablesorter({
                    widthFixed: true,
                    widgets: ['zebra']
                }).tablesorterPager({container: $("#modal-pager")});
            }
        }
    });
</script>
