<%= render 'shared/modal_header', modal_title: 'New Product Sub-Category' %>
<%= form_for([@category, @sub_category], url: expenses_category_sub_categories_path(@category, @sub_category), remote: true) do |f| %>
  <div class="modal-body">
    <div class="form-group">
      <%= f.label :category_id, 'Category: ' %>
      <%= @category.name %>
    </div>
    <div class="form-group">
      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control reset-border-radius', data: {required: true} %>
    </div>
    <div class="form-group">
      <%= f.label :description %>
      <%= f.text_area :description, class: 'form-control reset-border-radius' %>
    </div>
  </div>

  <div class="modal-footer">
    <div class="pull-right">
      <%= f.submit class: 'btn btn-primary' %>
      <div class="btn btn-default" data-dismiss='modal'>Cancel</div>
    </div>
  </div>
<% end %>

<script type="text/javascript">
    $(function () {
        $('#new_expenses_sub_category').syftValidator();
    });
</script>