<div class="provident-fund-rule-form">
  <%= form_for [@category, @sub_category], url: @sub_category.new_record? ? expenses_category_sub_categories_path(@category, @sub_category) : expenses_category_sub_category_path(@category, @sub_category) do |f| %>
    <div class="form-group">
      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control reset-border-radius', data: {required: true} %>
    </div>
    <div class="form-group">
      <%= f.label :description %>
      <%= f.text_area :description, class: 'form-control reset-border-radius' %>
    </div>
    <div class="actions clearfix">
      <%= f.submit class: 'btn btn-default pull-right reset-border-radius' %>
    </div>
  <% end %>
</div>

<script type="text/javascript">
    $(function () {
        $('#new_expenses_sub_category').syftValidator();
    });
</script>

