<%= link_to "Back", :back %>
<div class="panel panel-default">
  <div class="panel-heading">
    <h2>Edit <%= resource_name.to_s.humanize %></h2>
  </div>
  <div class="panel-body">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, class:'form-vertical', role: 'form' }) do |f| %>
        <%= devise_error_messages! %>

        <div class="form-group">
          <%= f.label :first_name, for: "empsignupfname" %><br />
          <%= f.text_field :first_name, autofocus: true, id: "empsignupfname", class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.label :last_name, for: "empsignuplname" %><br />
          <%= f.text_field :last_name, autofocus: true, id: "empsignuplname", class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.label :middle_name, for: "empsignupmname" %><br />
          <%= f.text_field :middle_name, autofocus: true, id: "empsignupmname", class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.label :gender, for:'gender' %>
          <%= f.select(:gender, options_for_select(['Male','Female', 'Others']), {}, {class: "form-control",id:'gender'}) %>
        </div>
        <div class="form-group">
          <%= f.label :bio, for: "empsignupbio" %><br />
          <%= f.text_area :bio, autofocus: true, id: "empsignupbio", class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.label :location, for: "empsignuplocation" %><br />
          <%= f.text_field :location, autofocus: true, id: "empsignuplocation", class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.label :dob, 'Date of Birth', for: "empsignupdob" %><br />
          <%= f.text_field :dob, autofocus: true, id: "empsignupdob", class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.label :address, for: "empsignupaddress" %><br />
          <%= f.text_area :address, autofocus: true, id: "empsignupaddress", class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.label :state, for: "empsignupstate" %><br />
          <%= f.text_field :state, autofocus: true, id: "empsignupstate", class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.label :city, for: "empsignupcity" %><br />
          <%= f.text_field :city, autofocus: true, id: "empsignupcity", class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.label :zip_code, for: "empsignupzip" %><br />
          <%= f.text_field :zip_code, autofocus: true, id: "empsignupzip", class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.label :country, for: "empsignupcountry" %><br />
          <%= f.text_field :country, autofocus: true, id: "empsignupcountry", class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true %>
        </div>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
        <% end %>

        <div class="form-group">
          <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
          <%= f.password_field :password, autocomplete: "off" %>
        </div>

        <div class="form-group">
          <%= f.label :password_confirmation %><br />
          <%= f.password_field :password_confirmation, autocomplete: "off" %>
        </div>

        <div class="form-group">
          <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
          <%= f.password_field :current_password, autocomplete: "off" %>
        </div>

        <div class="form-group">
          <%= f.submit "Update", class:'btn btn-success' %>
        </div>
        <div class="form-group">
          <h3>Cancel my account</h3>
          <p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>
        </div>
    <% end %>
  </div>
</div>