<p id="notice"><%= notice %></p>

<p>
  <strong>Old cost price:</strong>
  <%= @pos_suppliers_purchase_item.old_cost_price %>
</p>

<p>
  <strong>Old sale price:</strong>
  <%= @pos_suppliers_purchase_item.old_sale_price %>
</p>

<p>
  <strong>Old whole sale:</strong>
  <%= @pos_suppliers_purchase_item.old_whole_sale %>
</p>

<p>
  <strong>Issued quantity:</strong>
  <%= @pos_suppliers_purchase_item.issued_quantity %>
</p>

<p>
  <strong>Department:</strong>
  <%= @pos_suppliers_purchase_item.department %>
</p>

<p>
  <strong>Note:</strong>
  <%= @pos_suppliers_purchase_item.note %>
</p>

<p>
  <strong>Is received:</strong>
  <%= @pos_suppliers_purchase_item.is_received %>
</p>

<p>
  <strong>Received quantity:</strong>
  <%= @pos_suppliers_purchase_item.received_quantity %>
</p>

<p>
  <strong>Cost price:</strong>
  <%= @pos_suppliers_purchase_item.cost_price %>
</p>

<p>
  <strong>Sale price:</strong>
  <%= @pos_suppliers_purchase_item.sale_price %>
</p>

<p>
  <strong>Whole sale:</strong>
  <%= @pos_suppliers_purchase_item.whole_sale %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @pos_suppliers_purchase_item.amount %>
</p>

<p>
  <strong>Discount:</strong>
  <%= @pos_suppliers_purchase_item.discount %>
</p>

<p>
  <strong>Vat:</strong>
  <%= @pos_suppliers_purchase_item.vat %>
</p>

<p>
  <strong>Total:</strong>
  <%= @pos_suppliers_purchase_item.total %>
</p>

<%= link_to 'Edit', edit_pos_suppliers_purchase_item_path(@pos_suppliers_purchase_item) %> |
<%= link_to 'Back', pos_suppliers_purchase_items_path %>
