<%= form_for @department, remote: true, html:{ class:'form-vertical', id: 'department-form'} do |f| %>
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <i class="fa fa-newspaper-o"></i>
      <h4 class="modal-title"> <%= @department.name.present? ?  @department.name: 'Add New Department' %> </h4>
    </div>

    <div class="modal-body">
      <div class="row">
        <div class="col-md-12">
          <div class="col-md-3">
            <div class="form-group">
              <div class="logo-wrapper pt0x m0">
                <div class="logo-container">
                  <%= image_tag @department.image.present? ? @department.image_url(:large) : 'company/company.png', id: 'department-logo', class: 'img-circle' %>
                </div>

                <label class="custom-upload-file-wrap custom-upload-file-wrap-placement" id="upload-department-logo">
                  <span class="fa fa-photo guest-color"> </span>
                  <%= f.file_field :image, class: 'hidden' %>
                </label>

              </div>
            </div>
          </div>
          <div class="col-md-9">
            <div class="form-group">
              <%= f.label "Name*", class: 'control-label', for: 'name' %>
              <%= f.text_field :name, class: "form-control", id: 'name', data: {required: true} %>
            </div>
            <div class="form-group">
              <%= f.label 'Contact Mail', class: 'control-label', for: 'email' %>
              <%= f.text_field :email, class: "form-control", id: 'email' %>
            </div>
          </div>

          <div class="col-md-12 reset-padding ">
            <div class="form-group">
              <%= f.label 'Contact Number', class: 'control-label', for: 'mobile' %>
              <%= f.text_field :mobile, class: "form-control", id: 'mobile' %>
            </div>
          </div>
          <div class="col-md-6 reset-padding">
            <div class="form-group">
              <%= f.label 'About', class: 'control-label', for: 'description' %>
              <%= f.text_area :description, class: "form-control",rows: '3', id: 'description' %>
            </div>
          </div>
          <div class="col-md-6 reset-padding pl15">
            <div class="form-group">
              <%= f.label :address, class: 'control-label', for: 'address' %>
              <%= f.text_area :address, class: "form-control",rows: '3', id: 'address' %>
            </div>
          </div>
          <div class="col-md-6 reset-padding">
            <div class="form-group">
              <%= f.label :city, class: 'control-label', for: 'city' %>
              <%= f.text_field :city, class: "form-control", id: 'city'%>
            </div>
          </div>
          <div class="col-md-6 reset-padding pl15">
            <div class="form-group">
              <%= f.label :state, class: 'control-label', for: 'state' %>
              <%= f.text_field :state, class: "form-control", id: 'state' %>
            </div>
          </div>
          <div class="col-md-6 reset-padding">
            <div class="form-group">
              <%= f.label :zip_code, class: 'control-label', for: 'zip_code' %>
              <%= f.text_field :zip_code, class: "form-control", id: 'zip_code' %>
            </div>
          </div>
          <div class="col-md-6 reset-padding pl15">
            <div class="form-group">
              <%= f.label :country, class: 'control-label', for: 'country' %>
              <%= country_select(:department, :country, { include_blank: 'Select a country' }, { class: 'form-control custom-chosen', id: 'country'}) %>
            </div>
          </div>
          <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
        </div>
      </div>
    </div>

    <div class="modal-footer clearfix">
      <div class="pull-right">
        <%= f.submit 'Save', class: 'btn btn-primary department_submit' %>
        <div class='btn btn-default' data-dismiss="modal">Close</div>
      </div>
    </div>
<% end %>
<script type="text/javascript">
    $(function(){
        $('#department-form').syftValidator();

        function validPayloadLenght(payload){
            var payloadLenght = payload/1024/1024;
            return payloadLenght < 1 ? true : false;
        }


        $('#department_image').change(function () {
            var reader = new FileReader();
            if(validPayloadLenght(this.files[0].size)){
                reader.onload = function (e) {
                    $('#department-logo').attr('src', e.target.result)
                };
                reader.readAsDataURL(this.files[0]);
            }
            else{

                popupMessage('This image is not supported. File Size too large. ', 'alert-danger');
                $('.hidden').val(null);


            }
        });

        $('#department-form').submit(function(e){
            e.preventDefault();
            e.stopPropagation();
            $(this).ajaxSubmit({
                url: $(this).attr('action'),
                dataType: 'script',
                method: $(this).attr('method')
            });
        });

//        $('#department_image').change(function () {
//            var reader = new FileReader();
//            reader.onload = function (e) {
//                $('#department-logo').attr('src', e.target.result)
//            };
//            reader.readAsDataURL(this.files[0]);
//        });

//        $('#upload-department-logo').click(function () {
//            $("input[type='file']").trigger('click');
//        });



    });
</script>



<!--<div class="department-form-wrapper">-->
  <!--<%#= form_for @department, html: {id: 'department-form'} do |f| %>-->
      <!--<div class="form-inputs-container form-group">-->
        <!--<div class="row">-->
          <!--<div class="col-md-3">-->
            <!--<div class="logo-wrapper pt0x m0">-->
              <!--<div class="logo-container">-->
                <!--<%#= image_tag 'company/company.png', id: 'department-logo', class: 'img-circle' %>-->
              <!--</div>-->
              <!--<label class="custom-upload-file-wrap custom-upload-file-wrap-placement" id="upload-department-logo">-->
                <!--<span class="fa fa-photo guest-color"> </span>-->
                <!--<%#= f.file_field :image, class: 'hidden' %>-->
              <!--</label>-->
            <!--</div>-->
          <!--</div>-->
          <!--<div class="col-md-9">-->
            <!--<div class="form-group">-->
              <!--<%#= f.label :name, '*Name' %>-->
              <!--<%#= f.text_field :name, class: 'form-control input-field-height reset-border-radius', placeholder: 'Department or Branch Name', data: {required: true} %>-->
            <!--</div>-->

            <!--<div class="form-group">-->
              <!--<%#= f.label :description, 'About' %>-->
              <!--<%#= f.text_area :description, class: 'form-control input-field-height reset-border-radius', placeholder: 'About the Department or Branch' %>-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->

        <!--<div class="row">-->
          <!--<div class="col-md-6">-->
            <!--<div class="form-group">-->
              <!--<%#= f.label :mobile, "Contact Number" %>-->
              <!--<%#= f.text_field :mobile, class: 'form-control input-field-height reset-border-radius', placeholder: 'Contact mobile or phone number' %>-->
            <!--</div>-->
          <!--</div>-->
          <!--<div class="col-md-6">-->
            <!--<div class="form-group input-validate-message-area">-->
              <!--<%#= f.label :email %>-->
              <!--<%#= f.text_field :email, class: 'form-control input-field-height reset-border-radius', placeholder: 'Contact email address' %>-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->

        <!--<div class="row">-->
          <!--<div class="col-md-6">-->
            <!--<div class="form-group">-->
              <!--<%#= f.label :address %>-->
              <!--<%#= f.text_field :address, class: 'form-control reset-border-radius', placeholder: 'Department or Branch Address' %>-->
            <!--</div>-->
          <!--</div>-->
          <!--<div class="col-md-6">-->
            <!--<div class="form-group">-->
              <!--<%#= f.label :city, 'City' %>-->
              <!--<%#= f.text_field :city, class: 'form-control reset-border-radius', placeholder: 'City' %>-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->

        <!--<div class="row">-->
          <!--<div class="col-md-6">-->
            <!--<div class="form-group">-->
              <!--<%#= f.label :state, 'State' %>-->
              <!--<%#= f.text_field :state, class: 'form-control reset-border-radius', placeholder: 'State' %>-->
            <!--</div>-->
          <!--</div>-->
          <!--<div class="col-md-6">-->
            <!--<div class="form-groupx">-->
              <!--<%#= f.label :zip_code %>-->
              <!--<%#= f.text_field :zip_code, class: 'form-control reset-border-radius', placeholder: 'Zip Code' %>-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->

        <!--<div class="row">-->
          <!--<div class="col-md-6">-->
            <!--<div class="form-group input-validate-message-area">-->
              <!--<%#= f.label :country %>-->
              <!--<%#= country_select(:department, :country, {selected: f.object.country, include_blank: 'Select a country'}, {class: 'form-control custom-chosen reset-border-radius'}) %>-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->

        <!--<div class="actionss clearfix">-->
          <!--<%#= f.submit class: 'btn btn-primary pull-right' %>-->
        <!--</div>-->
      <!--</div>-->
  <!--<%# end %>-->
<!--</div>-->

<!--<script type="text/javascript">-->
<!--//    $(function () {-->
<!--//        $('#department-form').syftValidator();-->
<!--//-->
<!--//        $('#department_image').change(function () {-->
<!--//            var reader = new FileReader();-->
<!--//            reader.onload = function (e) {-->
<!--//                $('#department-logo').attr('src', e.target.result)-->
<!--//            };-->
<!--//            reader.readAsDataURL(this.files[0]);-->
<!--//        });-->
<!--//-->
<!--//        $('#upload-department-logo').click(function () {-->
<!--//            $("input[type='file']").trigger('click');-->
<!--//        });-->
<!--//    });-->
<!--</script>-->