<div class="clearfix">
  <div class="pull-right btn-group">
    <%= link_to department_path(@department), remote: true, class: 'btn btn-danger reset-border-radius' do %>
        <i class="fa fa-times"></i>
    <% end %>
  </div>
</div>
<%= form_for @department, remote: true, html: {class: 'form-vertical', id: 'department-edit-form'} do |f| %>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <div class="thumbnail">
            <%= image_tag @department.image.present? ? @department.image_url(:thumb) : 'department_default.png', id: 'department-logo', class: "img-responsive company-logo" %>
            <div class="upload-button btn btn-default reset-margin reset-padding">
              <span class="fa fa-photo fa-2x"></span>
              <%= f.file_field :image, class: 'file-upload-btn' %>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <%= f.label :name %>
          <%= f.text_field :name, class: 'form-control input-field' %>
        </div>
        <div class="form-group">
          <%= f.label :description, 'About' %>
          <%= f.text_area :description, class: 'form-control input-field' %>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="form-group col-md-6">
        <%= f.label 'Contact Mail' %>
        <%= f.text_field :email, class: 'form-control input-field' %>
      </div>
      <div class="form-group col-md-6">
        <%= f.label 'Contact Number' %>
        <%= f.text_field :mobile, class: 'form-control input-field' %>
      </div>
    </div>

    <div class="row">
      <div class="form-group col-md-6">
        <%= f.label :address %>
        <%= f.text_area :address, class: 'form-control input-field' %>
      </div>
      <div class="form-group col-md-6">
        <%= f.label :city %>
        <%= f.text_field :city, class: 'form-control input-field' %>
      </div>
    </div>

    <div class="row">
      <div class="form-group col-md-6">
        <%= f.label :state %>
        <%= f.text_field :state, class: 'form-control input-field' %>
      </div>
      <div class="form-group col-md-6">
        <%= f.label :zip_code %>
        <%= f.text_field :zip_code, class: 'form-control input-field' %>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-md-6">
        <%= f.label :country %>
        <%= country_select(:department, :country, {selected: f.object.country, include_blank: 'Select a country'}, { class: 'form-control custom-chosen input-field', id: 'department-country'}) %>
      </div>
    </div>

    <div class="form-group col-md-12 input-field">
      <div class="text-center">
        <%= f.submit 'Save Changes', class: 'btn btn-success' %>
      </div>
    </div>
<% end %>

<script type="text/javascript">
    $(function(){
        $('#department_image').change(function () {
            var reader = new FileReader();
            reader.onload = function (e) {
                $('#department-logo').attr('src', e.target.result)
            };
            reader.readAsDataURL(this.files[0]);
        });

        $('#department-edit-form').submit(function(e){
            e.stopPropagation();
            e.preventDefault();
            $(this).ajaxSubmit({
                url: $(this).attr('action'),
                dataType: 'script',
                method: $(this).attr('method')
            });

        });
    });
</script>
