<div class="site-container">
  <div class="header-wrapper">
    <h4>
      <span class="primary-color"> <%= current_company.name %> </span> Module Dashboard
    </h4>
  </div>

  <div class="content-body-wrapper secondary-color full-content-wrapper">
    <div class="text-centerx table-cell">
      <div id="app-dashboard-wrapper">
        <section class="company-module">
          <h2> <%= current_company.name %>'s Modules </h2>

          <div>
            <ul>
              <li>
                <%= link_to employees_path, class: 'somethings' do %>
                    <%= image_tag('module_settings/employee.png') %>
                    <p class="text-center">Employee</p>
                <% end %>
              </li>
              <% @company_modules.each do |app| %>
                  <li>
                    <%= link_to app.feature.url, class: 'somethings' do %>
                        <%= image_tag(app.feature.logo) %>
                        <p class="text-center"><%= app.feature.name %></p>
                    <% end %>
                  </li>
              <% end %>
            </ul>
          </div>
        </section>

        <% if @available_modules.present? %>
            <section class="available-module">
              <h2> Available Modules </h2>

              <div>
                <ul>
                  <% @available_modules.each do |app| %>
                      <li>
                        <%= link_to settings_path, class: 'somethings' do %>
                            <%= image_tag(app.logo) %>
                            <p class="text-center"><%= app.name %></p>
                        <% end %>
                      </li>
                  <% end %>
                </ul>
              </div>
            </section>
        <% end %>
      </div>
    </div>
  </div>
</div>