<div class="pricing_container mt40">
  <div class='container'>
    <div class="module-pricing-area">
      <div class="module-pricing-area-header mt40 mb30">
        <h2>Our Modules</h2>
      </div>

      <div id="pp">
        <div class="col-xs-12 col-sm-6 col-md-3">
          <div class='pricing animated swing'>
            <div class='thumbnail animated pulse infinite'>
              <div class='faxx fa-paper-planexx'>
                <%= image_tag('module_settings/white_icon/employees.png', width: 50) %>
              </div>
            </div>
            <div class='title'>
              Employee & HR
            </div>
            <div class='content'>
              <div class='sub-title'>
                Free
              </div>
              <ul>
                <li> Employee’s hourly schedule</li>
                <li> Keep track of all employee</li>
                <li> Add new employee</li>
                <li> Employee setting and report</li>
                <li> All access right</li>
                <li> Dashboard, Profile, Advance...</li>
              </ul>
            </div>
          </div>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-3">
          <div class='pricing animated swing'>
            <div class='thumbnail animated pulse infinite'>
              <div class=''>
                <%= image_tag('module_settings/white_icon/leave.png', width: 50) %>
              </div>
            </div>
            <div class='title'>
              Leave
            </div>
            <div class='content'>
              <div class='sub-title'>
                Free
              </div>
              <ul>
                <li> Category and dashboard</li>
                <li> Leave settings</li>
                <li> Leave application</li>
                <li> Leave calender</li>
                <li> Recent leave state</li>
                <li> Leave report, summary, transfer...</li>
              </ul>
            </div>
          </div>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-3">
          <div class='pricing animated swing'>
            <div class='thumbnail animated pulse infinite'>
              <div class=''>
                <%= image_tag('module_settings/white_icon/attendance.png', width: 50) %>
              </div>
            </div>
            <div class='title'>
              Attendance
            </div>
            <div class='content'>
              <div class='sub-title'>
                Free
              </div>
              <ul>
                <li> Attendance time schedule settings</li>
                <li> Employee in/out history</li>
                <li> BioMetric attendance</li>
                <li> Offline online employee tracking</li>
                <li> Working hours and leave tracking</li>
                <li> Report, Custom holiday, Holiday.....</li>
              </ul>
            </div>
          </div>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-3">
          <div class='pricing animated swing'>
            <div class='thumbnail animated pulse infinite'>
              <div class=''>
                <%= image_tag('module_settings/white_icon/payroll.png', width: 50) %>
              </div>
            </div>
            <div class='title'>
              Payroll
            </div>
            <div class='content'>
              <div class='sub-title'>
                Free
              </div>
              <ul>
                <li> Salary category</li>
                <li> Individual salary for employee</li>
                <li> Group salary for department</li>
                <li> Bonuses salary for employee</li>
                <li> Deductions from salary if needed</li>
                <li> Pre process, Payslip, Report....</li>
              </ul>
            </div>
          </div>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-3">
          <div class='pricing animated swing'>
            <div class='thumbnail animated pulse infinite'>
              <div class=''>
                <%= image_tag('module_settings/white_icon/provident_fund.png', width: 50) %>
              </div>
            </div>
            <div class='title'>
              Provident Fund
            </div>
            <div class='content'>
              <div class='sub-title'>
                Free
              </div>
              <ul>
                <li> To support HR</li>
                <li> FP account for eligible people</li>
                <li> Employee and company contribution</li>
                <li> PF roules and policy</li>
                <li> Loan and advance form PF</li>
                <li> Investment, Return, Report...</li>
              </ul>
            </div>
          </div>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-3">
          <div class='pricing animated swing'>
            <div class='thumbnail animated pulse infinite'>
              <div class=''>
                <%= image_tag('module_settings/white_icon/expense.png', width: 50) %>
              </div>
            </div>
            <div class='title'>
              Expense
            </div>
            <div class='content'>
              <div class='sub-title'>
                Free
              </div>
              <ul>
                <li> Expanse category and budgets</li>
                <li> Expense entry, approval and remark</li>
                <li> Monthly or yearly report</li>
                <li> Expense comparison</li>
                <li> Expanse dashboard and cost monitoring</li>
                <li> Report, Top expanse, Life expanse...</li>
              </ul>
            </div>
          </div>
        </div>

        <!--<div class="col-xs-12 col-sm-6 col-md-3">-->
        <!--<div class='pricing animated swing'>-->
        <!--<div class='thumbnail animated pulse infinite'>-->
        <!--<div class=''>-->
        <!--<%#= image_tag('module_settings/white_icon/inventory.png', width: 50) %>-->
        <!--</div>-->
        <!--</div>-->
        <!--<div class='title'>-->
        <!--Inventory-->
        <!--</div>-->
        <!--<div class='content'>-->
        <!--<div class='sub-title'>-->
        <!--$2.5-->
        <!--<i>per month</i>-->
        <!--</div>-->
        <!--<ul>-->
        <!--<li> Rapidly Respond To Customer needs</li>-->
        <!--<li> Offers Effective Features</li>-->
        <!--<li> Minimize Warehousing Costs</li>-->
        <!--<li> Flexible Enough</li>-->
        <!--<li> Optimize Storage</li>-->
        <!--<li> Others...</li>-->
        <!--</ul>-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->

      </div>
    </div>
  </div>
</div>