<div class="take-a-tour site-container">

  <div class="tour-main-wrap">
    <!-- Header -->
    <div class="tour-header-wrap">
      <div class="tour-header-container">
        <h1><span class="guest-color">Be</span>quent</h1>
        <!--<p>Business process automation with <a href="#"><span class="guest-color">Be</span>quent</a></p>-->
        <p style="color: tomato; font-weight: bold">
          your feedback makes
          <%= link_to root_path do %>
              <span class="guest-color">Be</span>quent
          <% end %> more enrich
        </p>
      </div>
    </div>

    <!-- Wrapper -->
    <div class="tour-body-wrap">

      <!-- Items -->
      <div class="products-wrap">

        <div class="product-wrap ">
          <div class="product-item reset-border-radius">
            <iframe width="100%" height="315" src="https://www.youtube.com/embed/eQwXqXX8imc" frameborder="0" allowfullscreen></iframe>
          </div>
          <p>
            Create a new employee with details information such as employee Personal information,
            Account information, Contact information, Emergency contact etc. If your company has a huge number
            of employees those are to be difficult to include, don't worry Bequent solved this types of problem
            very easily.
            <br><br>
            <%= link_to modules_employee_path, class: 'read-more mt10', target: '_blank' do %>
                Read More...
            <% end %>
          </p>
        </div>
        <div class="product-wrap">
          <div class="product-item reset-border-radius">
            <iframe width="100%" height="315" src="https://www.youtube-nocookie.com/embed/bXltGhj-gho" frameborder="0" allowfullscreen></iframe>
          </div>
          <p>
            For your company you can create your leave application and easily customize your leave.
            Bequent makes it too much suitable and user friendly with a huge leave futures such as
            Leave application, Employee status, Report, Leave summary and Leave calender etc.
            <br><br>
            <%= link_to modules_leave_path, class: 'read-more mt10', target: '_blank' do %>
                Read More...
            <% end %>
          </p>
        </div>
        <div class="product-wrap">
          <div class="product-item reset-border-radius">
            <iframe width="100%" height="315" src="https://www.youtube-nocookie.com/embed/3tHcZHp_qic" frameborder="0" allowfullscreen></iframe>
          </div>
          <p>
            Attendance module makes more enrich the Bequent. There are three types attendance added to count
            working hours and leave which are Punched card, Finger punched and simply In/Out button with login
            options. Offline attendance is ready for your company to give you a comfort life.
            Let's drink a mean cup of coffee and enjoy it.
            <br><br>
            <%= link_to modules_attendance_path, class: 'read-more mt10', target: '_blank' do %>
                Read More...
            <% end %>
          </p>
        </div>
        <div class="product-wrap">
          <div class="product-item reset-border-radius">
          </div>
          <p>
            All types of salary issue are being merged in payroll module and this management systems has
            lots of standard reports like department wise gross salary, total deduction, net salary, monthly
            employee salary, company wise salary etc.
            <br><br>
            <%= link_to modules_payroll_path, class: 'read-more mt10', target: '_blank' do %>
                Read More...
            <% end %>
          </p>
        </div>

        <div class="product-wrap">
          <div class="product-item reset-border-radius">
            <iframe width="100%" height="315" src="https://www.youtube-nocookie.com/embed/NOVIncvj6dg" frameborder="0" allowfullscreen></iframe>
          </div>
          <p>
            Provident fund module designed to process and provide all information starting form recruitment till final
            settlement at one click. At first in the dashboard we represents contribution such as total company
            contribution
            and total employee contribution in graphically which are easy to understand. You can create your rules as
            you want.
            Another more rich features are Provident fund contribution, Investment, Loan and Cash Statement.
            <br><br>
            <%= link_to modules_provident_fund_path, class: 'read-more mt10', target: '_blank' do %>
                Read More...
            <% end %>
          </p>
        </div>

        <div class="product-wrap">
          <div class="product-item reset-border-radius">
            <iframe width="100%" height="315" src="https://www.youtube-nocookie.com/embed/mrBHZIu_Ur4" frameborder="0" allowfullscreen></iframe>
          </div>
          <p>
            In expense module feature, you can implement an approval process that will allow you to
            monitor costs before your employees actually incur expenses. At dashboard you can see Monthly
            expenses, Top expenses, Total expense, Life expense. You can compare Monthly expenses. Also more
            rich features are ready to here give you 100% flexibility such as Monthly report, Yearly report and
            Category wise report.
            <br><br>
            <%= link_to modules_expense_path, class: 'read-more mt10', target: '_blank' do %>
                Read More...
            <% end %>

          </p>
        </div>

      </div>

    </div>
  </div>


</div>