<div class="provident-fund-rule-form">
  <%= form_for @supplier do |f| %>
    <div class="form-group">
      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control reset-border-radius', data: {required: true} %>
    </div>
    <div class="form-group">
      <%= f.label :email %>
      <%= f.text_field :email, class: 'form-control reset-border-radius' %>
    </div>
    <div class="form-group">
      <%= f.label :mobile %>
      <%= f.text_field :mobile, class: 'form-control reset-border-radius' %>
    </div>
    <div class="form-group">
      <%= f.label :company, 'Company Name' %>
      <%= f.text_field :company, class: 'form-control reset-border-radius' %>
    </div>
    <div class="form-group">
      <%= f.label :address %>
      <%= f.text_area :address, class: 'form-control reset-border-radius' %>
    </div>
    <div class="form-group">
      <%= f.label :city %>
      <%= f.text_field :city, class: 'form-control reset-border-radius' %>
    </div>
    <div class="actions clearfix">
      <%= f.submit class: 'btn btn-default pull-right reset-border-radius' %>
    </div>
  <% end %>
</div>

<script type="text/javascript">
    $(function () {
        $('#new_pos_supplier').syftValidator();
    });
</script>
