<%= render 'shared/modal_header', modal_title: 'Update Attendance' %>
<%= form_for(@attendance, remote: true) do |f| %>
    <div class="modal-body">

      <% if @attendance.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@attendance.errors.count, "error") %> prohibited this attendance from being saved:</h2>
            <ul>
              <% @attendance.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
              <% end %>
            </ul>
          </div>
      <% end %>
      <div class="form-group">
        <%= f.label :in_time %><br>
        <%= text_field_tag :in_time, @attendance.in_time.strftime("%H:%M %p"), class: "form-control", id: "attendance_in_time" %>
      </div>
      <div class="form-group">
        <%= f.label :out_time %><br>
        <%= text_field_tag :out_time, @attendance.out_time.present? ? @attendance.out_time.strftime("%H:%M %p") : '', class: "form-control", id: "attendance_out_time" %>
        <%#= f.text_field :out_time, class: "form-control", id: "attendance_out_time" %>
      </div>
      <%= hidden_field_tag :from_edit, 'yes' %>

</div>
    <div class="modal-footer">
      <div class="pull-right">
        <%= f.submit class: 'btn btn-primary' %>
        <div class="btn btn-default" data-dismiss='modal'>Cancel</div>
      </div>
    </div>
<% end %>

<script type="text/javascript">
    $(function () {
        $('#attendance_in_time').datetimepicker({
            format: 'LT'
        });
        $('#attendance_out_time').datetimepicker({
            format: 'LT'
        });
    });
</script>
