<div class="row">
  <div class="content-wrapper">
    <div class="header-wrapper">
      <h4>
        Attendance Report Breakdown
      </h4>
    </div>
    <div class=" secondary-color pl15 pr15">
      <div class="content-body-wrapper">
        <div class=" mt10 content-body report-table-wrapper">
          <div class="site-header" xmlns="http://www.w3.org/1999/html">
            <div class="row">
              <div class="col-sm-12 clearfix mb10">
                <div class="pull-right">
                  <% if employee_role == Employee::ROLE[:admin] %>
                      <%= select_tag :export_to, options_for_select(AppSettings::EXPORT_TO.collect { |opt| [opt.camelize, opt] }), {class: 'form-control custom-export-to reset-border-radius', prompt: 'Export To....'} %>
                  <% end %>
                </div>
                <div class="attendance-report-search-form">
                  <%= form_tag '', method: :get, id: 'month-year-attendance-report-employee-form' do %>
                      <%= select_tag :employee_id, options_for_select(current_active_employees.collect{|employee| [employee.full_name, employee.id]}, @employee.id), class: 'custom-chosen form-control' %>
                      <%= select_month params[:date].present? ? params[:date][:month].to_i : Date.today, {}, {class: "form-control"} %>
                      <%= select_year params[:date].present? ? params[:date][:year].to_i : Date.today, {:start_year => Date.today.year, :end_year => current_department.year}, {class: "form-control"} %>
                      <%= submit_tag 'Search', class: 'primary-color-bg-with-hover' %>
                  <% end %>
                </div>

              </div>
            </div>
            <div class="text-center">
              <h3>
                Attendance report of
                <%= link_to employee_path(@employee) do%>
                    <%= @employee.full_name %>
                <% end %>
              </h3>
            </div>
          </div>
          <div class="pt10x pb10x p15" style="background-color: #c9dbdc">
            <span class="label label-success"><i class="fa fa-check" aria-hidden="true"></i></span> Present
            <span class="label label-success ml15"><i class="fa fa-times" aria-hidden="true"></i></span> Absent
            <span class="label label-success ml15">L</span> In Leave
            <span class="label label-success ml15">W</span> Weekend
            <span class="label label-success ml15">WP</span> Weekend But Present
            <span class="label label-success ml15">H</span> Holiday
            <span class="label label-success ml15">HP</span> Holiday But Present
            <span class="label label-success ml15">C</span> Custom Holiday
            <span class="label label-success ml15">CP</span> Custom Holiday But Present
          </div>
          <div class="panelx table-warapperx">
            <div class="table-warapper-body">
              <table class="table beaccount-table table-responsive table-hover table-striped">
                <thead>
                <tr>
                  <th>Date</th>
                  <th>Present</th>
                  <th>Holiday Reason</th>
                  <th>Holiday Hour</th>
                  <th>Leave Type</th>
                  <th>Leave Reason</th>
                  <th>In Time</th>
                  <th>Out Time</th>
                  <th>Worked Hour</th>
                  <th>Late</th>
                  <th>Over Time</th>
                </tr>
                </thead>
                <tbody>
                <% @attendance_report.each do |employee_id, value| %>
                    <% (@start_date.day..@end_date.day).each do |day| %>
                        <%= render 'employee_wise_report_item', value: value, day: day %>
                    <% end %>
                <% end %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
    $(function(){
        $('#export_to').on('change', function () {
            var export_to = $(this).val();
            if (export_to == '<%= AppSettings::EXPORT_TO[0] %>') {
                window.location.href = '<%= employee_wise_report_attendance_attendances_path('pdf', params) %>'
            }
            else if (export_to == '<%= AppSettings::EXPORT_TO[2] %>') {
                window.location.href = '<%= employee_wise_report_attendance_attendances_path('docx', params) %>'
            }
            else if (export_to == '<%= AppSettings::EXPORT_TO[1] %>') {
                window.location.href = '<%= employee_wise_report_attendance_attendances_path('xls',  params) %>'
            }
        });
    });
</script>