<div class="title-wrap">
  <div class="text-center pt10">
    <h4 class="mb0">
      Attendance Report From <%= @start_date.strftime('%B %d, %Y') %> To <%= @end_date.strftime('%B %d, %Y') %>
    </h4>
    <p> Total employee <%= @attendance_report.count %> </p>
  </div>
</div>

<div class="pf-statement-body-wrap">
  <div class="pf-statement-body-container">
    <div class="p10 glass-color-bg nb-pdf-wrap">
      <ul class="common-ul-style clearfix">
        <li>
          <i class="fa fa-check"></i> Present
        </li>
        <li>
          <i class="fa fa-times"></i> Absent
        </li>
        <li>
          <span> L </span> In Leave
        </li>
        <li>
          <span> W </span> Weekend
        </li>
        <li>
          <span> WP </span> Weekend But Present
        </li>
        <li>
          <span> H </span> Holiday
        </li>
        <li>
          <span> HP </span> Holiday But Present
        </li>
        <li>
          <span> C </span> Custom Holiday
        </li>
        <li>
          <span> CP </span> Custom Holiday But Present
        </li>
      </ul>
    </div>

    <table class="custom-pf-table">
      <thead class="custom-pf-table-thead">
      <tr>
        <td>
          <label> Name </label>
        </td>
        <% end_day = @end_date.day %>
        <% (1..end_day).each do |day| %>
            <td><label> <%= day %> </label></td>
        <% end %>
      </tr>
      </thead>
      <tbody class="custom-pf-table-tbody">
      <% @attendance_report.each do |employee_id, value| %>
          <tr>
            <td>
              <%= value[:employee].full_name if value[:employee].present? %>
            </td>
            <% (@start_date.day..@end_date.day).each do |day| %>
                <td class="attendance-report-item">
                  <% if value[day][:day_off].present? && value[day][:in_time].present? %>
                      <%= value[day][:day_off].day_off_type[0] + 'P' %>
                  <% elsif value[day][:day_off].present? %>
                      <%= value[day][:day_off].day_off_type[0] %>
                  <% elsif value[day][:in_time].present? %>
                      <i class="fa fa-check success-color" aria-hidden="true"></i>
                  <% elsif value[day][:leave_status].present? %>
                      L
                  <% else %>
                      <i class="fa fa-times danger-color" aria-hidden="true"></i>
                  <% end %>
                </td>
            <% end %>
          </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>
