<div class="clearfix body-wrapper mt80 min-height-viewport-80">
  <div class="col-md-12">
    <div class="bg-box sign-in-box clearfix">
      <div class="circle-logo">
        <i class="fa fa-user fa-5x"></i>
      </div>
      <div class="col-md-12 signin-inputs-wrapper clearfix">
        <!--<h1 class="sign-in-title">Sign In</h1>-->
        <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: 'form-vertical', role:'form'}) do |f| %>
            <%= devise_error_messages! %>

            <div class="custom-form-group">
              <div class="input-group">
                <span class="input-group-addon fa fa-envelope" id="basic-addon1"></span>
                <%= f.email_field :email, autofocus: true, id: 'email', class: 'form-control input-field-height', placeholder: 'Email' %>
              </div>
            </div>

            <div class="form-group">
              <div class="input-group">
                <span class="input-group-addon fa fa-key"></span>
                <%= f.password_field :password, autocomplete: "off",id: 'password', class:'form-control input-field-height', placeholder: 'Password' %>
              </div>
            </div>

            <div class="checkbox">
              <%= f.label :remember_me do %>
                  <%= f.check_box :remember_me, class: 'form-control' %>
                  <span class="cr">
                    <i class="cr-icon fa fa-check"></i>
                  </span>
                  Remember Me
              <% end %>
            </div>

            <div class="form-group btn-section">
              <%= f.submit "Sign In", class: 'sign-in-btn reset-border-radius' %>
            </div>
        <% end %>
        <%= render "employees/shared/links" %>
      </div>
    </div>
  </div>
</div>
