<div class="col-md-12">
  <div class="bg-box sign-in-box clearfix" style="background-color: #fdfdfd">
    <div class="circle-logo">
      <i class="fa fa-lock fa-5x"></i>
    </div>
    <div class="col-md-12 signin-inputs-wrapper clearfix">
      <h1 class="sign-in-title">Change password</h1>
      <%= form_for(@employee, url: update_password_employees_path, html: { method: :patch, class:'form-vertical', id: 'update-password', role:'form' }) do |f| %>
          <div class="form-group input-validate-message-area">
            <div class="input-group">
              <span class="input-group-addon fa fa-key reset-border-radius" id="basic-addon1"></span>
              <%= f.password_field :current_password, autofocus: true, autocomplete: "off", data:{ required: true }, class: 'form-control input-field-height reset-border-radius',placeholder: 'Current Password' %>
            </div>
          </div>
          <div class="form-group input-validate-message-area">
            <div class="input-group">
              <span class="input-group-addon fa fa-key reset-border-radius" id="basic-addon1"></span>
              <%= f.password_field :password, autofocus: true, autocomplete: "off", data:{ required: true }, class: 'form-control input-field-height reset-border-radius',placeholder: 'New Password', id:'employee_password' %>
            </div>
          </div>

          <div class="form-group input-validate-message-area">
            <div class="input-group">
              <span class="input-group-addon fa fa-key reset-border-radius"></span>
              <%= f.password_field :password_confirmation, autocomplete: "off",id: 'employee_password_confirmation', data:{ required: true }, class:'form-control input-field-height reset-border-radius', placeholder: 'Confirm new Password' %>
            </div>
          </div>
          <div id="message"></div>

          <div class="form-group btn-section">
            <%= f.submit "Submit", class: 'sign-in-btn reset-border-radius' %>
          </div>
      <% end %>
    </div>
  </div>
</div>
<script type="text/javascript">
    $(function(){
        $('#update-password').syftValidator();
    });
    $('#employee_password, #employee_password_confirmation').on('keyup', function () {
        if ($('#employee_password').val() == $('#employee_password_confirmation').val()) {
            $('#message').html(' Password matched').css('color', 'green');
        } else
            $('#message').html(' Password not matched').css('color', 'red');
    });
</script>
