<div class="process-customer-invoice p15">
  <%= form_tag process_invoice_pos_customers_path do %>
    <fieldset class="customer-details-fieldset">
      <legend> Customer Details</legend>
      <div class="col-sm-12 row">
        <div class="col-sm-6 pr100">
          <div class="form-group">
            Customer: <br/>
            <%= select_tag :customer_id, options_for_select(Pos::Customers::Invoice.active_invoice_customer(current_department).map { |cus| [cus.name, cus.id] }, params[:customer_id]), {class: 'form-control custom-chosen', prompt: 'Select Customer...'} %>
          </div>
          <div class="form-group">
            <div class="select-default">
              <div class="checkbox reset-margin">
                Collected By:
                <!--<label class="reset-padding">-->
                <!--<input type="checkbox" value="<%= @default_collector_id %>" <%= @default_collector_id.present? ? 'checked' : '' %> id="customer_default_collected" name="customer_default_collected">-->
                <!--<span class="cr"><i class="cr-icon fa fa-check"></i></span>-->
                <!--Default-->
                <!--</label>-->
              </div>
            </div>
            <%= select_tag :collected_by_id, options_for_select(current_active_employees.map { |c| [c.full_name, c.id] }), {class: 'form-control custom-chosen', prompt: 'Select One...'} %>
          </div>
          <div class="form-group">
            <div class="select-default">
              <div class="checkbox reset-margin">
                Cashier:
                <!--<label class="reset-padding">-->
                <!--<input type="checkbox" value="<%= @default_customer_cashier_id %>" <%= @default_customer_cashier_id.present? ? 'checked' : '' %> id="customer_default_cashier" name="customer_default_cashier">-->
                <!--<span class="cr"><i class="cr-icon fa fa-check"></i></span>-->
                <!--Default-->
                <!--</label>-->
              </div>
            </div>
            <%= select_tag :cashier_id, options_for_select(current_active_employees.map { |c| [c.full_name, c.id] }), {class: 'form-control custom-chosen', prompt: 'Select One...'} %>
          </div>
          <div class="form-group">
            Received Date:
            <%= text_field_tag :received_date, Date.today, class: 'form-control' %>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            Address:
            <p class="customer-address"></p>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <span class="credit-text"> Credit Limit: </span>
              <span class="color-red credit-limit"> 0.00 </span>
            </div>

            <div class="form-group">
              <span class="credit-text"> Credit Available: </span>
              <span class="color-red credit-available"> 0.00 </span>
            </div>

            <div class="form-group">
              <span class="credit-text"> Due Amount: </span>
              <span class="color-red customer-due-amount"> 0.00 </span>
            </div>

            <div class="form-group">
              <span class="credit-text"> Advanced Paid: </span>
              <span class="color-red advanced_paid_amount"> 0.00 </span>
            </div>

            <div class="form-group">
              <span class="credit-text"> Payable Amount: </span>
              <span class="color-red payable-amount"> 0.00 </span>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <span class="credit-text"> Last paid Amount: </span>
              <span class="color-red last_paid_amount">  </span>
            </div>

            <div class="form-group">
              <span class="credit-text"> Last Payment Date: </span>
              <span class="color-red last_payment_date">  </span>
            </div>
          </div>
        </div>
      </div>
    </fieldset>
    <div class="action-process-action right-aligned col-sm-12">
    <div class="col-sm-6 advance-invoice-list">
    <%= link_to '#', class: 'advance-list advance-payment' do %>
      <i class="fa fa-align-left"></i> Advance Invoice
      <% end %>
    </div>
    <div class="col-sm-6">
    <%=  select_tag "payment_type", options_for_select([ "Normal Payment", "Group Payment" ], "Normal Payment") %>
    <%= link_to :back, class: 'btn btn-warning' do %>
      <i class="fa fa-times-circle"></i> Close
      <% end %>
    <%= link_to '#', class: 'btn btn-success print-voucher' do %>
      <i class="fa fa-print"></i> Voucher
      <% end %>
    <button type="submit" class='btn btn-success'><i class="fa fa-cog"></i> Process</button>
    </div>
    </div>
    <div class="customer-invoice-list">

    </div>
    <div class="action-process-action right-aligned">
    <%= link_to :back, class: 'btn btn-warning' do %>
      <i class="fa fa-times-circle"></i> Close
      <% end %>
    <%= link_to '#', class: 'btn btn-success print-voucher' do %>
      <i class="fa fa-print"></i> Voucher
      <% end %>
    <button type="submit" class='btn btn-success'><i class="fa fa-cog"></i> Process</button>
    </div>
    <%= render 'group_cheque_payment' %>
  <% end %>
</div>

<div class="new-modal-wrap modal fade" id="customer-invoice-details" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <%= render 'shared/modal_header', modal_title: 'Invoice Details' %>
      <div class="modal-body">

      </div>
      <div class="modal-footer">
        <button type="submit" class='btn btn-success'><i class="fa fa-cog"></i> Close</button>
      </div>
    </div>
  </div>
</div>


<div class="modal fade bs-example-modal-lg" id="show_list" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <%= render 'shared/modal_header', modal_title: 'Advance Invoice List' %>
      <%= form_tag(close_invoice_pos_customers_invoices_path, method: 'get', remote: true) do %>
        <div class="modal-body advance-history">

        </div>
        <div class="modal-footer">
          <button type="submit" class='btn btn-success'><i class="fa fa-cog"></i> Close Invoice</button>
        </div>
      <% end %>
    </div>
  </div>
</div>

<script type="text/javascript">
    $(function () {
        $('.advance-list').click(function (e) {
            $('#show_list').modal('show');
        });

        $('.process-customer-invoice #customer_id').change(function () {
            var customer_id = $(this).val();
            if (customer_id == '') {
                $('.customer-invoice-list').html('');
            }
            else {
                customer_invoice(customer_id);
            }
        });

        $(document).on('keyup', '.pay-amount', function () {
            var due = $(this).attr('data-limit');
            var amount = $(this).val();
            if (parseFloat(due) < parseFloat(amount)) {
                alert("Pay amount can't grater than due amount!");
                $(this).val(due);
            }
            payable_amount();
        });
        if (<%= params[:customer_id].present? %>) {
            customer_invoice(<%= params[:customer_id] %>)
        }

        $(document).on('click', '.full-pay', function () {
            if ($(this).is(':checked')) {
                $(this).parents('tr').find('.table-input').val($(this).val());
            }
            else {
                $(this).parents('tr').find('.table-input').val('0.0');
            }
            payable_amount();
        });

        $('#received_date').datetimepicker({
            format: 'YYYY-MM-DD'
        });

        $('#payment_type').change(function () {
            var payment_process = $(this).val();
            if (payment_process == 'Group Payment') {
                $('#group-payment').modal('show');
            }

            else {
                var items = $('.process-invoice-list').find('tbody').find('tr');
                console.log(items);
                $.each(items, function (index, value) {
                    var item = $(value);
                    var id = item.attr('data-invoice-id');
                    console.log(item.find('a.payment-method-' + id));
                    item.find('a.payment-method-' + id).text('Cash');
                    item.find('.payment-method-' + id).prop( "disabled", false );
                    item.find('#payment_method_' + id).val('cash');
                });
            }
        });

        // $('#customer_default_collected').click(function () {
        //     var employee = $('#collected_by_id').val();
        //     if (employee == '') {
        //         $(this).prop('checked', false);
        //         alert('Select Collected Employee');
        //     }
        //     else {
        //         if (confirm("Are you sure? You want to change default Collector?")) {
        //             default_collector(employee, $(this).is(':checked'), 'collector');
        //         }
        //     }
        // });
        //
        // $('#customer_default_cashier').click(function () {
        //     var employee = $('#cashier_id').val();
        //     if (employee == '') {
        //         $(this).prop('checked', false);
        //         alert('Select Cashier Employee');
        //     }
        //     else {
        //         if (confirm("Are you sure? You want to change default Cashier?")) {
        //             default_collector(employee, $(this).is(':checked'), 'cashier');
        //         }
        //     }
        // });
    });

    payable_amount = function () {
        var payments = $('.table-input.pay-amount');
        var pay_amount = 0.0;
        for (var i = 0; i < payments.length; i++) {
            var payment = $(payments[i]);
            if (payment.val() != '') {
                pay_amount += parseFloat(payment.val());
            }
        }
        $('.payable-amount').text(pay_amount);
    };

    function customer_invoice(customer_id) {
        $.ajax({
            type: 'get',
            url: '/pos/customers/' + customer_id + '/history',
            dataType: 'script',
            error: function (e) {
                $('.customer-invoice-list').html(e);
                $('.action-process-action').hide();
            }
        })
    }

    // function default_collector(employee, add, field) {
    //     $.ajax({
    //         url: '/customers/add_remove_default_collector_cashier',
    //         type: 'get',
    //         data: {employee: employee, is_added: add, field: field},
    //         dataType: 'script'
    //     });
    // }
</script>