<div class="row reset-padding">
  <div class="content-wrapper" id="rule-content">
    <div class="header-wrapper">
      <h4>
        Customer Payment List
      </h4>
    </div>
    <div class="content-body-wrapper secondary-color full-content-wrapper" id="provident-fund-rule-content">
      <% if @payments.present? %>
        <div class="row actions-button">
          <div class="add-more-rule clearfix">
            <%= link_to new_pos_customers_payment_path, class: 'btn btn-default pull-right' do %>
              <i class="fa fa-plus-circle"></i> Add Customer Payment
            <% end %>
          </div>
        </div>
        <div class="row content-body">
          <table class="table action-table beaccount-table tablesorter table-responsive table-hover table-striped">
            <thead>
            <tr>
              <th>Payment ID</th>
              <th>Global ID</th>
              <th>Customer</th>
              <th>Invoice Number</th>
              <th>Invoice Total</th>
              <th>Payment Total</th>
              <th></th>
            </tr>
            </thead>
            <tbody>
            <% @payments.each do |payment| %>
              <tr>
                <td> #<%= payment.id %> </td>
                <td><%= payment.global_id %> </td>
                <td><%= payment.customer.name if payment.customer.present? %> </td>
                <td><%= payment.invoice.number if payment.invoice.present? %> </td>
                <td><%= payment.invoice.total if payment.invoice.present? %> </td>
                <td><%= payment.total %> </td>
                <td class="actions">
                  <%= link_to pos_customers_payment_path(payment), class: 'btn info-color' do %>
                    <i class="fa fa-eye"></i>
                  <% end %>
                  <%= link_to edit_pos_customers_payment_path(payment), class: 'btn warning-color' do %>
                    <i class="fa fa-pencil-square-o"></i>
                  <% end %>
                  <%= link_to pos_customers_payment_path(payment), class: 'btn danger-color', method: :delete, data: {confirm: 'Are you sure?'} do %>
                    <i class="fa fa-times"></i>
                  <% end %>
                </td>
              </tr>
            <% end %>
            </tbody>
          </table>
        </div>
      <% else %>
        <div class="text-center table-cell">
          <p>
            Current department don't have any Customer Payment. <%#= link_to 'Learn more', '#', class: 'link' %>
            <!--<i class="fa fa-info-circle btn btn-info reset-border-radius" data-toggle='popover' data-placement='top' title="Provident Fund Account" data-content="Click on the create new one button to create provident fund account then it will show the account  list  "></i>-->
          </p>
          <%= link_to new_pos_customers_payment_path, class: 'btn btn-default reset-border-radius' do %>
            <i class="fa fa-plus-circle"></i> Add new one
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
