<tr id="leave-category-<%= leave_category.id %>">

  <td>
    <%= leave_category.name %>
  </td>

  <td>
    <%= truncate(leave_category.description, length: 30) %>
  </td>

  <td class="actions">
    <%= link_to leave_category_path(leave_category), remote: true, class: 'btn info-color' do %>
        <i class="fa fa-eye"></i>
    <% end %>
    <%= link_to edit_leave_category_path(leave_category), remote: true, class: 'btn warning-color' do %>
        <i class="fa fa-pencil-square-o"></i>
    <% end %>
  </td>

</tr>