<div class="new-modal-wrap modal fade" id="group-payment" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content modal-body">
      <%= render 'shared/modal_header', modal_title: 'Group Payment' %>
      <div class="modal-body">
        <div class="check-payment-fields col-lg-12 row clearfix">

          <div class="col-lg-12">
            <div class="form-group">
              <%= check_box_tag 'account_payable' %>
              Account Payable
            </div>
          </div>

          <div class="col-lg-12">
            <div class="form-group">
              Bank Account
              <%= select_tag "group_bank_account", options_for_select(current_department.bank_accounts.map { |acc| [acc.name, acc.id] }), {class: 'form-control'} %>
            </div>
          </div>
          <%#= f.input :picture, label: "Cheque Picture" %>
          <div class="col-sm-6">
            <div class="form-group">
              Value Date:
              <%= text_field_tag "group_date", '', class: 'form-control value-date-calender' %>
            </div>
            <div class="form-group">
              Cheque Number:
              <%= text_field_tag "group_cheque_number", '', class: 'form-control' %>
            </div>
            <div class="form-group">
              Bank Name:
              <%= text_field_tag "group_bank_name", '', class: 'form-control' %>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              Bank Branch:
              <%= text_field_tag "group_bank_branch", '', class: 'form-control' %>
            </div>
            <div class="form-group">
              Check Book Image:
              <%= file_field_tag "group_picture" %>
            </div>
          </div>
        </div>
      </div>

      <div class="modal-footer">
        <div class="pull-right">
          <div class="btn btn-default" data-dismiss='modal'>Cancel</div>
          <button type="button" class="btn btn-default" id="process-cheque-payment">Process</button>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
    $(function () {
        $('#process-cheque-payment').click(function (e) {
            e.preventDefault();
            var items = $('.process-invoice-list').find('tbody').find('tr');
            console.log(items);
            $.each(items, function (index, value) {
                var item = $(value);
                var id = item.attr('data-invoice-id');
                item.find('a.payment-method-' + id).text('Group Cheque');
                item.find('.payment-method-' + id).prop( "disabled", true );
                item.find('#payment_method_' + id).val('cheque');
            });
            $('#group-payment').modal('hide');
        });
    });
</script>