<div class="provident-fund-rule-form">
  <%= form_for @invoice do |f| %>
    <div class="form-group">
      <%= f.label :number %>
      <%= f.text_field :number, class: 'form-control reset-border-radius', data: {required: true} %>
    </div>
    <div class="form-group">
      <%= f.label :total %>
      <%= f.text_field :total, class: 'form-control reset-border-radius' %>
    </div>
    <div class="actions clearfix">
      <%= f.submit class: 'btn btn-default pull-right reset-border-radius' %>
    </div>
  <% end %>
</div>

<script type="text/javascript">
    $(function () {
        $('#new_pos_customers_invoice').syftValidator();
    });
</script>
