<div class="row reset-padding">
  <div class="content-wrapper" id="rule-content">
    <div class="header-wrapper">
      <div class="header-container clearfix">
        <h4 class="title-section">
          Expenses
        </h4>

        <div class="action-section">
          <%= link_to new_expense_path, class: 'btn btn-info' do %>
              New Expense
          <% end %>
        </div>
      </div>
    </div>
    <div class="content-body-wrapper secondary-color full-content-wrapper" id="provident-fund-rule-content">
      <% if @expenses.present? %>
          <div class="row actions-button">
            <div class="add-more-rule clearfix">
              <%= link_to new_expense_path, class: 'btn btn-default pull-right' do %>
                  <i class="fa fa-plus-circle"></i> Add Expense
              <% end %>
            </div>
          </div>
          <div class="row content-body">
            <table class="table action-table beaccount-table tablesorter table-responsive table-hover table-striped">
              <thead>
              <tr>
                <th>ID</th>
                <th>Category</th>
                <th>Sub-Category</th>
                <th>Amount</th>
                <th></th>
              </tr>
              </thead>
              <tbody>
              <% @expenses.each do |expense| %>
                  <tr>
                    <td> #<%= expense.id %> </td>
                    <td><%= expense.category.name if expense.category.present? %> </td>
                    <td><%= expense.sub_category.name if expense.sub_category.present? %> </td>
                    <td><%= expense.amount %> </td>
                    <td class="actions">
                      <%= link_to expense_path(expense), class: 'btn info-color', title: 'View' do %>
                        <i class="fa fa-eye"></i>
                      <% end %>
                      <%= link_to edit_expense_path(expense), class: 'btn warning-color', title: 'Edit' do %>
                          <i class="fa fa-pencil-square-o"></i>
                      <% end %>
                      <%= link_to expense_path(expense), class: 'btn danger-color', method: :delete, title: 'Delete', data: {confirm: 'Are you sure?'} do %>
                          <i class="fa fa-times"></i>
                      <% end %>
                    </td>
                  </tr>
              <% end %>
              </tbody>
            </table>
          </div>
      <% else %>
          <div class="text-center table-cell">
            <p>
              Current department don't have any Expense. <%#= link_to 'Learn more', '#', class: 'link' %>
              <!--<i class="fa fa-info-circle btn btn-info reset-border-radius" data-toggle='popover' data-placement='top' title="Provident Fund Account" data-content="Click on the create new one button to create provident fund account then it will show the account  list  "></i>-->
            </p>
            <%= link_to new_expense_path, class: 'btn btn-default reset-border-radius' do %>
                <i class="fa fa-plus-circle"></i> Add new one
            <% end %>
          </div>
      <% end %>
    </div>
  </div>
</div>
