<div class="row reset-padding">
  <div class="content-wrapper" id="rule-content">
    <div class="header-wrapper">
      <div class="header-container clearfix">
        <h4 class="title-section">
          Product Category List
        </h4>

        <div class="action-section">
          <%= link_to new_pos_products_category_path, class: 'btn btn-info' do %>
              New Category
          <% end %>
        </div>
      </div>
    </div>
    <div class="content-body-wrapper secondary-color full-content-wrapper" id="provident-fund-rule-content">
      <% if @categories.present? %>
          <div class="row actions-button">
            <div class="add-more-rule clearfix">
              <div class="pull-left">
                <%= form_tag('', class: 'search-wrapper') do %>
                    <div class="input-group">
                      <span class="input-group-addon reset-border-radius" id="sizing-addon2">
                        <i class="fa fa-search"></i>
                      </span>
                      <input type="text" id="employee-search-box" class="form-control reset-border-radius" name="q" value="<%= params[:q] %>" placeholder="Search name, code..." aria-describedby="sizing-addon2">
                      <% if params[:q].present? %>
                          <a class="clear-search color-danger"> <i class="fa fa-times"></i> </a>
                      <% end %>
                    </div>
                <% end %>
              </div>
              <%= link_to new_pos_products_category_path, class: 'btn btn-default pull-right' do %>
                  <i class="fa fa-plus-circle"></i> Add Product Category
              <% end %>
            </div>
          </div>
          <div class="row content-body">
            <table class="table action-table beaccount-table tablesorter table-responsive table-hover table-striped">
              <thead>
              <tr>
                <th>Category ID</th>
                <th>Category Code</th>
                <th>Name</th>
                <th>Description</th>
                <th></th>
              </tr>
              </thead>
              <tbody>
              <% @categories.each do |category| %>
                  <tr>
                    <td> #<%= category.id %> </td>
                    <td> <%= category.code %> </td>
                    <td><%= category.name %> </td>
                    <td><%= category.description %> </td>
                    <td class="actions">
                      <%= link_to edit_pos_products_category_path(category), class: 'btn warning-color' do %>
                          <i class="fa fa-pencil-square-o"></i>
                      <% end %>
                      <%= link_to pos_products_category_path(category), class: 'btn danger-color', method: :delete, data: {confirm: 'Are you sure?'} do %>
                          <i class="fa fa-times"></i>
                      <% end %>
                    </td>
                  </tr>
              <% end %>
              </tbody>
            </table>
          </div>
      <% else %>
          <div class="text-center table-cell">
            <p>
              Current department don't have any Product Category. <%#= link_to 'Learn more', '#', class: 'link' %>
              <!--<i class="fa fa-info-circle btn btn-info reset-border-radius" data-toggle='popover' data-placement='top' title="Provident Fund Account" data-content="Click on the create new one button to create provident fund account then it will show the account  list  "></i>-->
            </p>
            <%= link_to new_pos_products_category_path, class: 'btn btn-default reset-border-radius' do %>
                <i class="fa fa-plus-circle"></i> Add new one
            <% end %>
          </div>
      <% end %>
    </div>
  </div>
</div>
