<div class="row reset-padding">
  <div class="content-wrapper" id="rule-content">
    <div class="header-wrapper">
      <h4>
        Product List
      </h4>
    </div>
    <div class="content-body-wrapper secondary-color full-content-wrapper" id="provident-fund-rule-content">
      <% if @products.present? %>
        <div class="row actions-button">
          <div class="add-more-rule clearfix">
            <div class="pull-left">
              <%= form_tag('', method: :get, class: 'search-wrapper') do %>
                  <div class="input-group">
                      <span class="input-group-addon reset-border-radius" id="sizing-addon2">
                        <i class="fa fa-search"></i>
                      </span>
                    <input type="text" id="employee-search-box" class="form-control reset-border-radius" name="q" value="<%= params[:q] %>" placeholder="Search name, id, code..." aria-describedby="sizing-addon2">
                    <% if params[:q].present? %>
                        <a class="clear-search color-danger"> <i class="fa fa-times"></i> </a>
                    <% end %>
                  </div>
              <% end %>
            </div>
            <%= link_to new_pos_product_path, class: 'btn btn-default pull-right' do %>
              <i class="fa fa-plus-circle"></i> Add Product
            <% end %>
          </div>
        </div>
        <div class="row content-body">
          <table class="table action-table beaccount-table tablesorter table-responsive table-hover table-striped">
            <thead>
            <tr>
              <th>ID</th>
              <th>Code</th>
              <th>Name</th>
              <th>Supplier</th>
              <th>Category</th>
              <th>Cost Price</th>
              <th>Sale Price</th>
              <th>Stock</th>
              <th></th>
            </tr>
            </thead>
            <tbody>
            <% @products.each do |product| %>
              <tr>
                <td> #<%= product.id %> </td>
                <td><%= product.code %> </td>
                <td><%= product.name %> </td>
                <td><%= product.supplier.name if product.supplier.present? %> </td>
                <td><%= product.category.name if product.category.present? %> </td>
                <td><%= product.cost_price %> </td>
                <td><%= product.sale_price %> </td>
                <td><%= product.stock_on_hand %> </td>
                <td class="actions">
                  <%= link_to new_pos_products_queue_code_path(product_id: product.id), remote: true, class: 'btn success-color', title: 'Add Into Queue To Print Barcode' do %>
                    <i class="fa fa-barcode" aria-hidden="true"></i>
                  <% end %>
                  <%= link_to pos_product_path(product), class: 'btn info-color' do %>
                    <i class="fa fa-eye"></i>
                  <% end %>
                  <%= link_to edit_pos_product_path(product), class: 'btn warning-color' do %>
                    <i class="fa fa-pencil-square-o"></i>
                  <% end %>
                  <%= link_to pos_product_path(product), class: 'btn danger-color', method: :delete, data: {confirm: 'Are you sure?'} do %>
                    <i class="fa fa-times"></i>
                  <% end %>
                </td>
              </tr>
            <% end %>
            </tbody>
          </table>
        </div>
      <% else %>
        <div class="text-center table-cell">
          <p>
            Current department don't have any Product. <%#= link_to 'Learn more', '#', class: 'link' %>
            <!--<i class="fa fa-info-circle btn btn-info reset-border-radius" data-toggle='popover' data-placement='top' title="Provident Fund Account" data-content="Click on the create new one button to create provident fund account then it will show the account  list  "></i>-->
          </p>
          <%= link_to new_pos_product_path, class: 'btn btn-default reset-border-radius' do %>
            <i class="fa fa-plus-circle"></i> Add new one
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<script type="text/javascript" charset="utf-8">
  $(function () {
      $('.clear-search').click(function () {
          var element = $(this);
          element.parent().find("input[name='q']").val('');
          element.hide();
          element.parents('form').submit();
      });
  });
</script>
