<ul class="expand-menu-items">
  <li>
    <%= link_to 'Dashboard', leave_dashboard_path %>
  </li>
  <li>
    <%= link_to 'Applications', leave_applications_path %>
  </li>
  <li>
    <%= link_to 'Leave Status', employee_status_leave_applications_path %>
  </li>
  <li>
    <%= link_to 'Report', report_leave_applications_path %>
  </li>
  <li>
    <%= link_to 'Summary', summary_leave_applications_path %>
  </li>
  <li>
    <%= link_to 'Calendar', leave_calendar_leave_applications_path %>
  </li>
</ul>
