<!DOCTYPE html>
<html>
<head>
  <title>Bequent | Best HRM and Business automation</title>
  <%= favicon_link_tag 'beaccount.ico' %>
  <link rel="stylesheet" media="all" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css"/>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="canonical" href="https://www.bequent.com"/>
  <meta property="og:image" content="<%= image_url('landing_bg.png') %>"/>
  <%= csrf_meta_tags %>
</head>
<body class="<%= controller_name %> <%= action_name %>">
<%= render 'shared/notification' %>
<%= render 'shared/header' %>
<%= yield %>
<%= render 'shared/footers_selection' %>
<%= render 'shared/modal' %>
<%= render 'shared/flash_message' %>
<%= render 'shared/google_analytics' %>
</body>
</html>